In [1]:
import numpy as np
import pandas as pd

<h1> Company X - Order Report .... df1

In [2]:
df1 = pd.read_excel('Company X - Order Report.xlsx')

In [3]:
df1

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

<h1>Company X - SKU Master ..... df2

In [4]:
df2 = pd.read_excel('Company X - SKU Master.xlsx')

In [5]:
df2

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

<h1>Company - Pincode Zones....df3

In [6]:
df3 = pd.read_excel('Company X - Pincode Zones.xlsx')

In [7]:
df3

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

<h1>Courier Company - Invoice...df4

In [8]:
df4 = pd.read_excel('Courier Company - Invoice.xlsx')

In [9]:
df4

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

<h1>Courier Company -Rates.....df5

In [10]:
df5 = pd.read_excel('Courier Company - Rates.xlsx')

In [11]:
print(df5)

   fwd_a_fixed  fwd_a_additional  fwd_b_fixed  fwd_b_additional  fwd_c_fixed  \
0         29.5              23.6           33              28.3         40.1

   fwd_c_additional  fwd_d_fixed  fwd_d_additional  fwd_e_fixed  \
0              38.9         45.4              44.8         56.6

   fwd_e_additional  rto_a_fixed  rto_a_additional  rto_b_fixed  \
0              55.5         13.6              23.6         20.5

   rto_b_additional  rto_c_fixed  rto_c_additional  rto_d_fixed  \
0              28.3         31.9              38.9         41.3

   rto_d_additional  rto_e_fixed  rto_e_additional
0              44.8         50.7              55.5

<h2>Find null values in datasets

In [12]:
df1.isna().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
dtype: int64

In [13]:
df2.isna().sum()

SKU           0
Weight (g)    0
dtype: int64

In [14]:
df3.isna().sum()

Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64

In [15]:
df4.isna().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [16]:
df5.isna().sum()

fwd_a_fixed         0
fwd_a_additional    0
fwd_b_fixed         0
fwd_b_additional    0
fwd_c_fixed         0
fwd_c_additional    0
fwd_d_fixed         0
fwd_d_additional    0
fwd_e_fixed         0
fwd_e_additional    0
rto_a_fixed         0
rto_a_additional    0
rto_b_fixed         0
rto_b_additional    0
rto_c_fixed         0
rto_c_additional    0
rto_d_fixed         0
rto_d_additional    0
rto_e_fixed         0
rto_e_additional    0
dtype: int64

In [17]:
df1['ExternOrderNo'].duplicated().sum()

276

In [18]:
df1['SKU'].duplicated().sum()

335

In [19]:
df2['SKU'].duplicated().sum()

1

In [20]:
df3['Warehouse Pincode'].duplicated().sum()

123

In [21]:
df4['Customer Pincode'].duplicated().sum()

16

In [22]:
df1 =df1.drop_duplicates()
df2 =df2.drop_duplicates()
df3 =df3.drop_duplicates()
df4 =df4.drop_duplicates()
df5 =df5.drop_duplicates()

In [23]:
# ds=[df1,df2,df3,df4,df5]

# for i in range(len(ds)):
#     ds[i]=ds[i].drop_duplicates()

<h1>Merging order with product Weight

In [24]:
order_with_weight =pd.merge(df1,df2,on='SKU')
order_with_weight

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
393     2001806229  8904223818942        1.0         133
394     2001806229  8904223818850        1.0         240
395     2001806226  8904223818850        2.0         240
396     2001806210  8904223816214        1.0         120
397     2001806210  8904223818874        1.0         100

[398 rows x 4 columns]

<h1> 2.Calculate total weight per order(in grams)

In [25]:
order_weight = order_with_weight.groupby('ExternOrderNo')["Weight (g)"].sum().reset_index()
order_weight['total weight (KG)'] =order_weight['Weight (g)']/1000

In [26]:
order_weight

     ExternOrderNo  Weight (g)  total weight (KG)
0       2001806210         220              0.220
1       2001806226         240              0.240
2       2001806229         500              0.500
3       2001806232         377              0.377
4       2001806233         245              0.245
..             ...         ...                ...
119     2001821995         477              0.477
120     2001822466         352              0.352
121     2001823564         336              0.336
122     2001825261         611              0.611
123     2001827036        1539              1.539

[124 rows x 3 columns]

<h1>3.CALCULATE WEIGHT SLABS

In [27]:
import math
def weight_slab(weight):
    if weight <= 0.5:
        return 0.5
    return math.ceil(weight * 2) / 2 

order_weight['Weight Slab'] = order_weight['total weight (KG)'].apply(weight_slab)

In [28]:
order_weight

     ExternOrderNo  Weight (g)  total weight (KG)  Weight Slab
0       2001806210         220              0.220          0.5
1       2001806226         240              0.240          0.5
2       2001806229         500              0.500          0.5
3       2001806232         377              0.377          0.5
4       2001806233         245              0.245          0.5
..             ...         ...                ...          ...
119     2001821995         477              0.477          0.5
120     2001822466         352              0.352          0.5
121     2001823564         336              0.336          0.5
122     2001825261         611              0.611          1.0
123     2001827036        1539              1.539          2.0

[124 rows x 4 columns]

<h1>4.merger with courier invoice to get pincode

In [29]:
df4.columns

Index(['AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone', 'Type of Shipment', 'Billing Amount (Rs.)'],
      dtype='object')

In [30]:
order_weight.columns

Index(['ExternOrderNo', 'Weight (g)', 'total weight (KG)', 'Weight Slab'], dtype='object')

In [31]:
order_pincode =pd.merge(order_weight,df4,left_on='ExternOrderNo',right_on='Order ID')

In [32]:
order_pincode

,ExternOrderNo,Weight (g),total weight (KG),Weight Slab,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,220,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,240,0.240,0.5,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,500,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,377,0.377,0.5,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,245,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,352,0.352,0.5,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,336,0.336,0.5,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,611,0.611,1.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,1539,1.539,2.0,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9

<h1>5.Now Merge with zones table using pincode

In [33]:
order_pincode.columns

Index(['ExternOrderNo', 'Weight (g)', 'total weight (KG)', 'Weight Slab',
       'AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone', 'Type of Shipment', 'Billing Amount (Rs.)'],
      dtype='object')

In [34]:
df3.columns

Index(['Warehouse Pincode', 'Customer Pincode', 'Zone'], dtype='object')

In [35]:
final_data =pd.merge(order_pincode,df3,on=['Warehouse Pincode','Customer Pincode'])

In [36]:
final_data

,ExternOrderNo,Weight (g),total weight (KG),Weight Slab,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone_x,Type of Shipment,Billing Amount (Rs.),Zone_y
0,2001806210,220,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b
1,2001806226,240,0.240,0.5,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d
2,2001806229,500,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d
3,2001806232,377,0.377,0.5,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
4,2001806233,245,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b
120,2001822466,352,0.352,0.5,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b
121,2001823564,336,0.336,0.5,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d
122,2001825261,611,0.611,1.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d
123,2001827036,1539,1.539,2.0,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e

<h1>6 CALCULATE EXPECT CHARGES

In [37]:
final_data = final_data.rename(columns={
    'Zone_x': 'Your_Calculated_Zone', 
    'Zone_y': 'Courier_Claimed_Zone'  
})

final_data

,ExternOrderNo,Weight (g),total weight (KG),Weight Slab,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Your_Calculated_Zone,Type of Shipment,Billing Amount (Rs.),Courier_Claimed_Zone
0,2001806210,220,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b
1,2001806226,240,0.240,0.5,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d
2,2001806229,500,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d
3,2001806232,377,0.377,0.5,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d
4,2001806233,245,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b
120,2001822466,352,0.352,0.5,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b
121,2001823564,336,0.336,0.5,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d
122,2001825261,611,0.611,1.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d
123,2001827036,1539,1.539,2.0,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e

In [38]:
def calculate_expected_charge(row):
    zone = row['Your_Calculated_Zone'].lower()  
    weight_slab = row['Weight Slab']
    shipment_type = row['Type of Shipment']
    
    try:
        if shipment_type == 'Forward charges':
            fixed = df5[f'fwd_{zone}_fixed'].iloc[0]
            additional = df5[f'fwd_{zone}_additional'].iloc[0]
        else: 
            fixed = df5[f'fwd_{zone}_fixed'].iloc[0] + df5[f'rto_{zone}_fixed'].iloc[0]
            additional = df5[f'fwd_{zone}_additional'].iloc[0] + df5[f'rto_{zone}_additional'].iloc[0]
        
        extra_slabs = max(0, (weight_slab - 0.5) / 0.5)
        return fixed + (additional * extra_slabs)
    
    except KeyError:
        print(f"Rates not found for zone: {zone}")
        return 0  
final_data['Expected_Charge'] = final_data.apply(calculate_expected_charge, axis=1)

In [39]:
final_data

,ExternOrderNo,Weight (g),total weight (KG),Weight Slab,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Your_Calculated_Zone,Type of Shipment,Billing Amount (Rs.),Courier_Claimed_Zone,Expected_Charge
0,2001806210,220,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b,33.0
1,2001806226,240,0.240,0.5,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d,45.4
2,2001806229,500,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d,45.4
3,2001806232,377,0.377,0.5,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,45.4
4,2001806233,245,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b,45.4
120,2001822466,352,0.352,0.5,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b,45.4
121,2001823564,336,0.336,0.5,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d,86.7
122,2001825261,611,0.611,1.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d,176.3
123,2001827036,1539,1.539,2.0,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e,117.9

<h1>7 COMPARE CHARGEES

In [40]:
final_data['Charge_Difference'] = final_data['Expected_Charge'] - final_data['Billing Amount (Rs.)']

# # Categorize orders
final_data['Billing_Status'] = 'Corr234ect'
final_data.loc[final_data['Charge_Difference'] < 0, 'Billing_Status'] = 'Overcharged'
final_data.loc[final_data['Charge_Difference'] > 0, 'Billing_Status'] = 'Undercharged'

In [41]:
final_data

,ExternOrderNo,Weight (g),total weight (KG),Weight Slab,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Your_Calculated_Zone,Type of Shipment,Billing Amount (Rs.),Courier_Claimed_Zone,Expected_Charge,Charge_Difference,Billing_Status
0,2001806210,220,0.220,0.5,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.5,b,33.0,-141.5,Overcharged
1,2001806226,240,0.240,0.5,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.2,d,45.4,-44.8,Overcharged
2,2001806229,500,0.500,0.5,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.2,d,45.4,-44.8,Overcharged
3,2001806232,377,0.377,0.5,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,d,45.4,-89.6,Overcharged
4,2001806233,245,0.245,0.5,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.3,b,33.0,-28.3,Overcharged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477,0.477,0.5,1091121183730,2001821995,0.50,121003,342008,d,Forward charges,45.4,b,45.4,0.0,Corr234ect
120,2001822466,352,0.352,0.5,1091121305541,2001822466,1.10,121003,342301,d,Forward charges,135.0,b,45.4,-89.6,Overcharged
121,2001823564,336,0.336,0.5,1091121666133,2001823564,0.70,121003,492001,d,Forward and RTO charges,172.8,d,86.7,-86.1,Overcharged
122,2001825261,611,0.611,1.0,1091121981575,2001825261,1.60,121003,517128,d,Forward and RTO charges,345.0,d,176.3,-168.7,Overcharged
123,2001827036,1539,1.539,2.0,1091122418320,2001827036,1.60,121003,173213,b,Forward charges,117.9,e,117.9,0.0,Corr234ect

<h1>CREATE SUMMARY

In [42]:
# Group by Billing_Status and aggregate
ssummary = final_data.groupby('Billing_Status').agg(
    Order_Count=('Order ID', 'count'),
    Amount=('Charge_Difference', 'sum')
).reset_index()

# Adjust the Amount for 'Overcharged' and 'Undercharged' statuses
ssummary.loc[ssummary['Billing_Status'] == 'Overcharged', 'Amount'] = abs(ssummary.loc[ssummary['Billing_Status'] == 'Overcharged', 'Amount'])
ssummary.loc[ssummary['Billing_Status'] == 'Undercharged', 'Amount'] = abs(ssummary.loc[ssummary['Billing_Status'] == 'Undercharged', 'Amount'])

# Rename Billing_Status to Category
ssummary['Category'] = ssummary['Billing_Status'].replace({
    'Correct': 'Total orders where X has been correctly charged',
    'Overcharged': 'Total Orders where X has been overcharged',
    'Undercharged': 'Total Orders where X has been undercharged'
})

# Reorder columns
ssummary = ssummary[['Category', 'Order_Count', 'Amount']]

# Display the summary
print(ssummary)

                                     Category  Order_Count  Amount
0                                  Corr234ect           23     0.0
1   Total Orders where X has been overcharged           90  4829.9
2  Total Orders where X has been undercharged           11   285.4